<div class="col1wrap">
  <div class="col1 wellwhite">
    <div class="wellwhitemenu"><span class="headtext">Settings: Carriers
      <li class="dropdown" style="display: inline;">
        <a  data-toggle="dropdown" href="#menu" class="dropdownmenubox">
          <%= image_tag("list 2.png", :height=>"15px", :width=>"15px") %> Menu
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" >
          <li>
            <%= link_to  new_carrier_path do %> Create New <%end%>
          </li>
        </ul>
      </li>
    </span>
    </div>
    <%= render ('carrierslist')%>
  </div>
</div>