  <% @checklistitems.each do |ci| %>
      <li style="border-bottom: 1px solid #F0F0F0 ; background-color: #F8F8F8 ; padding: 5px;">
        <div> <i class="icon-ok-circle"></i> <%= ci.task_name %></div>
      </li>
  <%end%>