<div class="col1wrap">
            <div class="col1 wellwhite" style="float: left;">
              <div class="wellwhitemenu"><span class="headtext">Create New Line of Business</span> </div>

                <%= render 'form' %>
            </div>
</div>
