<table>
  <tr>
    <td>1 – 10 days past due</td>
    <td><a id="aging1" class="aginglink" href="#"><%= @aging1 %></a></td>
  </tr>
  <tr>
    <td>11 – 15 days past due</td>
    <td><a id="aging11" class="aginglink" href="#"><%= @aging11 %></a></td>
  </tr>
  <tr>
    <td>16 – 25 days past due</td>
    <td><a id="aging16" class="aginglink" href="#"><%= @aging16 %></a></td>
  </tr>
  <tr>
    <td>26+ days past due</td>
    <td><a id="aging26" class="aginglink" href="#"><%= @aging26 %></a></td>
  </tr>
</table>

