<%= javascript_include_tag "dashboardchartdata" %>
<div class="chartwrapper">
  <div class="chartcontainer">

    <h3>This Year's Policy Count by Month </h3>
   <hr>
    <div id="chart_div" ></div>

  </div>
  <div class="chartcontainer">

    <!--h3>This Year's Commission Trend</h3>
    <hr>
    <div id="commchart" ></div-->

    <h3>This Year’s New Business (Non-WC)</h3>
    <hr>
    <div id="ytdchart"></div>

  </div>
  <div class="chartcontainer">
    <h3>This Year’s New Business (WC)</h3>
    <hr>
    <div id="ytd2chart"></div>
  </div>

  <div style="clear: both"></div>
</div>
