    <ul class="notes">
    <% @notesforview.each do |note| %>
      <li id=<%=note.id%>>
        <table width="100%">
          <tr>
            <td>
              <div class="noteheader"><%= note.agent.fullname %></div>
              <%= note.notetext.gsub(/\n/, '<br />').html_safe %>
              <div class="notefooter">created on: <%= note.created_at.strftime("%m/%d/%Y %I:%M %p") %></div>
              <hr>
            </td>
          </tr>
        </table>
      </li>
    <% end %>
    </ul>