
<div class="col1wrap">
  <div class="col1 wellwhite" style="float: left; min-width: 700px">
    <div class="wellwhitemenu"><span class="headtext">Create New Producing Agency</span> </div>


    <%= render 'form' %>

  </div>
</div>
