<table id="invoices" class="display">
        <thead>
          <tr>
               <th>Client Name</th>
               <th>Created</th>
               <th>Total Billed</th>
          </tr>
        </thead>
        <tbody>
            <% @invoices.each do |invoice| %>
          <tr>
            <td><%= invoice.policy.client.client_name %></td>
            <td><%= invoice.created_on  %></td>
            <td><%= invoice.total_billed  %></td>
          </tr>
            <% end %>
        </tbody>
</table>
