
<% content_for :head do %>
    <%= javascript_include_tag "taskunit" %>
<% end%>
<div class="wellwhiteblockcontrol">
  <div class="wellwhitemenucontrol">
    <div style="float:left;"><h3>Tasks</h3> | <%= link_to "Add New", new_quote_task_path(@quote)  , :remote => true, :style=>"text-decoration: underline;", :id=>"newtaskbutton" %>

    </div>
    <div style="float: right;">

    </div>
    <div style="clear:both"></div>
  </div>

  <div id="newtaskwork">


  </div>
  <div id="existingtasks">
    <%= render 'tasks/tasksmin' %>
  </div>
</div>


