

<div style=" padding-left: 25px; margin-top: 10px;">
  <a style="color: gray; padding-top: 5px;"><%begin%> <%= task.agent.fullname %><%rescue%><%end%> | <%= task.created_at.strftime("%m/%d/%Y") %>, Says:</a>
  <p><%= task.task_name %> </p>
  <div class="taskdetails">
</div>

</div>

