<div class="wellwhitemenu">

  <h3>Edit Address</h3> <button type="button" class="close" data_dismiss="modal" aria_hidden="true" id ="closeit">×</button>
</div>

<%= form_for @carriernaic, :html => {:autocomplete => "off", :class=>"form-horizontal"},:remote =>true do |f| %>

      <%= render('formfields', :f => f) %>


<% end %>