<% title  "Email Log | bindlink" %>
<div class="col1wrap">
  <div class="col1 wellwhite">
    <div class="wellwhitemenu"><span class="headtext">Email Log</span> </div>
    <br />
    <div class="dataTablewrapper">
      <table id="emaillog" class="bordered-table zebra-striped " data-source="<%= emails_url(format: "json") %>">
        <thead>
        <tr>
          <th>Id</th>
          <th>Date</th>
          <th>Subject</th>
          <th>From</th>
          <th>To</th>
          <th>Body</th>
          <th>Document</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
