<div class="row-fluid">
  <div class="span6">
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th colspan="3">Largest Clients</th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Total Premium</th>
          <th># of Policies</th>
        </tr>
         <tr>
          <td>Name</td>
          <td>Total Premium</td>
          <td># of Policies</td>
        </tr>

      </table>

  </div>
  <div class="span6" >
            <table class="table table-striped table-bordered table-condensed">
           <tr>
          <th colspan="3">Potential Growth</th>
        </tr>
         <tr>
          <th>Name</th>
          <th>Total Premium</th>
          <th># of Policies</th>
        </tr>
         <tr>
          <td>Name</td>
          <td>Total Premium</td>
          <td># of Policies</td>
        </tr>

      </table>




  </div>
</div>