<div class="col1wrap">
  <div class="col1 wellwhite">
    <div class="wellwhitemenu"><span class="headtext">Create a new statement
    </span>
    </div>
    <div class="previewhead">





    </div>



     <h3>Past Statements: Click to View</h3>
    <hr>



  </div>
</div>