<script>
    $("#hometab").removeClass('currentpagetab');
    $("#featurestab").addClass('currentpagetab');
    $("#contacttab").removeClass('currentpagetab');
</script>

<!--  Page Title -->
<div id="page-title">

	<!-- 960 Container Start -->
	<div class="container">
		<div class="sixteen columns">
             <a href="contact.html" class="button medium yellow" style="float: right; margin-top:22px">Talk to sales</a>
			<h2 style="color:#FF6A00; font-weight:bold">Powerful features, simple to use</h2>
           
	        <div class="clearfix"></div>
		</div>
	</div>
	<!-- 960 Container End -->
	
</div>
<!-- Page Title End -->


	<!-- 960 Container -->
	<div class="container">
	
		<!-- Begin Feature Header -->
		<div class="sixteen columns">

			<div style="margin-top: 20px; margin-bottom: 25px;">
				<!--<h1></h1>-->
			</div>
	

		</div><!-- End Feature Header-->

	</div>
	<!-- End 960 Container -->

	<!-- 960 Container -->
	<div class="container">
		<!-- Portfolio Content -->
		<div id="portfolio-wrapper">
			
			<!-- 1/4 Column -->
			<div class="four columns portfolio-item architecture scenery">
				<div class="shotsnapborder">
					<div class="item-img shotsnap"><img src="/assets/mktimages/document_management.png" alt=""/></div>
				</div>
					<div class="portfolio-item-meta">
						<h5>Document Management</h5>
						<p>Bindlink offers you 50 GB of free storage (That’s about 705,000 pdf pages!).</p>
					</div>
			</div>
			<!-- 1/4 Column -->
			<div class="four columns portfolio-item scenery">
				<div class="shotsnapborder">
					<div class="item-img shotsnap"><img src="/assets/mktimages/business_intelligence.png" alt=""/></div>
				</div>
					<div class="portfolio-item-meta">
						<h5>Business Intelligence</h5>
						<p>Finally, a place where you can visualize your business data.</p>
					</div>
			</div>
			
			<!-- 1/4 Column -->
			<div class="four columns portfolio-item architecture scenery">
				<div class="shotsnapborder">
					<div class="item-img shotsnap"><img src="/assets/mktimages/client_management.png" alt=""/></div>
				</div>
					
					
					<div class="portfolio-item-meta">
						<h5>Client Management</h5>
						<p>Bindlink's system makes it effortless to manage your client's policies and more.</p>
					</div>
			</div>
			
			<!-- 1/4 Column -->
			<div class="four columns portfolio-item interior-design architecture real-estate">
				<div class="shotsnapborder">
					<div class="item-img shotsnap"><img src="/assets/mktimages/task_management.png" alt=""/></div>
				</div>
					
					<div class="portfolio-item-meta">
						<h5>Task Management</h5>
						<p>Creating and organizing your tasks have never been so easy.</p>
					</div>
			</div>
			
			<!-- 1/4 Column -->
			<div class="four columns portfolio-item scenery">
				<div class="shotsnapborder">
					<div class="item-img shotsnap"><img src="/assets/mktimages/central_mailbox.png" alt=""/></div>
				</div>
					
					<div class="portfolio-item-meta">
						<h5>Central Mailbox</h5>
						<p>Bindlink makes e-mailing simple through the central agency mailbox.</p>
					</div>
			</div>
			
			<!-- 1/4 Column -->
			<div class="four columns portfolio-item scenery">
				<div class="shotsnapborder">
					<div class="item-img shotsnap"><img src="/assets/mktimages/referral_management.png" alt=""/></div>
				</div>
					
					<div class="portfolio-item-meta">
						<h5>Referral Management</h5>
						<p>You can now keep track of your referrals with the same ease as your clients.</p>
					</div>
			</div>
			
			<!-- 1/4 Column -->
			<div class="four columns portfolio-item interior-design architecture scenery">
				<div class="shotsnapborder">
					<div class="item-img shotsnap"><img src="/assets/mktimages/search_anything3.png" alt=""/></div>
				</div>
					
					<div class="portfolio-item-meta">
						<h5>Search Anything...</h5>
						<p>With “Search Anything…” always find exactly what you are looking for.</p>
					</div>
			</div>
			
			<!-- 1/4 Column -->
			<div class="four columns portfolio-item interior-design architecture">
				<div class="shotsnapborder">
					<div class="item-img shotsnap"><img src="/assets/mktimages/reporting.png" alt=""/></div>
				</div>
					
					<div class="portfolio-item-meta">
						<h5>Reporting</h5>
						<p>Bindlink creates a wide range of highly flexible agency reports.</p>
					</div>
			</div>
			
			<!-- 1/4 Column -->
			<div class="four columns portfolio-item interior-design architecture real-estate">
				<div class="shotsnapborder">
					<div class="item-img shotsnap"><img src="/assets/mktimages/custom_fields.png" alt=""/></div>
				</div>
					<div class="portfolio-item-meta">
						<h5>Custom Fields</h5>
						<p>Bindlink has created an easy way to store your miscellaneous information.</p>
					</div>
			</div>
			
			<!-- 1/4 Column -->
			<div class="four columns portfolio-item interior-design architecture scenery">
                <div class="shotsnapborder">
					<div class="item-img shotsnap"><img src="/assets/mktimages/Ivans_carrier_download.png" alt=""/></div>
				</div>				
				<div class="portfolio-item-meta">
					<h5>IVANS Carrier Download</h5>
					<p>Fully automated carrier download, no headaches leave the work to us.</p>
				</div>
			</div>

            <!-- 1/4 Column -->
			<div class="four columns portfolio-item interior-design architecture scenery">
                <div class="shotsnapborder">
					<div class="item-img shotsnap"><img src="/assets/mktimages/Acord_forms.png" alt=""/></div>
				</div>				
				<div class="portfolio-item-meta">
					<h5>Acord Forms</h5>
					<p>Makes filling out Acord forms a breeze. Pre populated fields reduces double entry.</p>
				</div>
			</div>
			
		</div>
		<!-- End Portfolio Content -->
	</div>
	<!-- End 960 Container -->

