<script>
    $("#hometab").addClass('currentpagetab');
    $("#featurestab").removeClass('currentpagetab');
    $("#contacttab").removeClass('currentpagetab');
</script>

<!-- End Header -->
<!-- Slider -->
<div id="slider">
<!-- Flexslider Start-->
<div class="flexslider2" style="background: #EAE6EB; ">
  <ul class="slides">
    <!-- Slide -->
    <li class="custom-slide" style="background: url(/assets/mktimages/SliderOfficeDesk_Medium.png);background-repeat: no-repeat;">
      <div class="container">
        <div class="sixteen columns">
          <div class="slider_description" >
            <div class="slidercontainer" style="margin-left: -15px">
              <h3 style="font-size: 34px; text-align:left">Not just a software vendor</h3><br/>
              <h2 style="font-size: 28px">We're a technology partner for independent insurance agencies</h2>
              <a href="contact.html" class="button medium yellow" style="float: right; position:relative; top:0px">Find out more</a>
              <div class="clearfix"></div>
            </div>

          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- End Slider -->
<div class="container" >
  <div class="sixteen columns">
    <h3 class="headline">How does Bindlink help your agency succeed?</h3>
  </div>
  <!-- Feature row 1 Start -->
  <div class="service">

    <!-- Icon Box Start -->
    <div class="eight columns">
      <div class="feature">
        <div style="display: inline-block; float:left;"><img src="/assets/mktimages/paperarrow2.png" alt="" />
        </div>
        <div class="feature-description" style="padding-left: 15px;">
          <h4>From Prospect To Renewal</h4>
          <p>
            Tailored to the needs of insurance agencies, Bindlink keeps track of your prospect contacts and reminds you when their existing policies are going to expire. When you close, all of the prospect information seamlessly flows through to a client you can serve for years, renewal after renewal.
          </p>
        </div>
      </div>
    </div>
    <!-- Icon Box End -->
    <!-- Icon Box Start -->
    <div class="eight columns">
      <div class="feature">
        <div style="display: inline-block; float:left;"><img src="/assets/mktimages/moneygraph.png" alt="" />
        </div>
        <div class="feature-description" style="padding-left: 15px;">
          <h4>Accounting Expert</h4>
          <p>
            Receivables, payables and cash receipts. Bindlink makes it easy for you to bill your clients, keep track of commissions and reconcile carrier statements. Plus, an intuitive interface means you don’t need to spend hours learning the system.
          </p>
        </div>
      </div>
    </div>
    <!-- Icon Box End -->
  </div>
  <!-- Feature row 1 End -->
  <!-- Feature row 2 Start -->
  <div class="service">
    <!-- Icon Box Start -->
    <div class="eight columns">
      <div class="feature">
        <div style="display: inline-block; float:left;"><img src="/assets/mktimages/gear.png" alt="" />
        </div>
        <div class="feature-description" style="padding-left: 15px;">
          <h4>Constant Updates</h4>
          <p>
            You handle your clients, we'll take care of the servers. No need to worry about servers or upgrades. Bindlink is fully web-based and all upgrades are included.
          </p>
        </div>
      </div>
    </div>
    <!-- Icon Box End -->
    <!-- Icon Box Start -->
    <div class="eight columns">
      <div class="feature">
        <div style="display: inline-block; float:left;"><img src="/assets/mktimages/globe.png" alt="" />
        </div>
        <div class="feature-description" style="padding-left: 15px;">
          <h4>Use From Anywhere</h4>
          <p>
            You are no longer tied down to your desk at the office. Bindlink allows you to access your information from home or even on the road, from any computer or tablet device. Bindlink offers you the same, fully functional interface you are used to on your computer right on your tablet. Your whole agency is accessible any time, anywhere.
          </p>
        </div>
      </div>
    </div>
    <!-- Icon Box End -->

  </div>
  <!-- Feature row 2 End -->
  <div class="clearfix"></div>
  <!--Customer Testemonials-->
  <!--<div class="sixteen columns">
      <h4 class="headline">Customer Testemonials</h4>
  </div>-->
  <!-- 1/4 Column -->
  <!-- <div class="eight columns">
      <div class="item-img">
          <a href="single_project.html"><img src="/assets/mktimages/portfolio_/assets/mktimages/portfolio_3_04.jpg" alt=""/><div class="overlay zoom"></div></a>
      </div>
      <div class="portfolio-item-meta">
          <h5><a href="single_project.html">Package Project</a></h5>
          <p>
              Gravida sit amet ligula eget conseact etur lectu aecenas hendrerit bibenea.
          </p>
      </div>
  </div>-->
  <!-- 1/4 Column -->
  <!--<div class="eight columns">
     <div class="item-img">
         <a href="/assets/mktimages/portfolio_img_04_large.jpg" rel="imagebox" title="Ampertastic Mr. Fox"><img src="/assets/mktimages/portfolio_img_04.jpg" alt=""/><div class="overlay zoom"></div></a>
     </div>
     <div class="portfolio-item-meta">
         <h5><a href="single_project.html">Ampertastic Mr. Fox</a></h5>
         <p>
             Fermentum sit amet ligula estabe, eget conseact lectus maecenas hendrerit.
         </p>
     </div>
 </div>
 <div class="clearfix"></div>-->
  <!--Info Box Start -->
  <div class="sixteen columns">
    <div class="info-box">
      <div class="info-content">
        <h3>Our expert staff is waiting for your call.</h3>

      </div>
      <a href="contact.html" class="button medium yellow" style="float: right;">Talk to sales</a>
      <div class="clearfix"></div>
    </div>
  </div>

  <!-- Recent Work End -->

</div>
<!-- 960 Container Start -->

<div class="container" >


  <div class="sixteen columns">
    <h3 class="headline">We built Bindlink around 3 basic principles.</h3>
  </div>
  <!-- Service row 1 Start -->
  <div class="service">
    <!-- Icon Box Start -->
    <div class="one-third column">
      <div class="service">
        <div style="display: inline-block; float:left; "><img src="/assets/mktimages/headset.png" alt="" />
        </div>
        <div class="feature-description" style="padding-left: 15px;">
          <h4>Service Not Software</h4>
          <p>
            An efficient management system is critical to an agency's success. Bindlink understands this and offers frequent updates and 24x7x365 telephone and chat support. Great service is everything to your agency and it is everything to bindlink.
          </p>
        </div>
      </div>
    </div>
    <!-- Icon Box End -->
    <!-- Icon Box Start -->
    <div class="one-third column">
      <div class="feature">
        <div style="display: inline-block; float:left;"><img src="/assets/mktimages/school.png" alt="" />
        </div>
        <div class="feature-description" style="padding-left: 15px;">
          <h4>Simplicity and Clarity</h4>
          <p>
            Bindlink is easy to use. Whether you are a new CSR or a seasoned agent, bindlink is designed to help you get up and running in minutes, not days or weeks. There's no lengthy training period or complicated roll-out schedule, just setup and use. As always, if you do run into a question our expert support is always ready to help.
          </p>
        </div>
      </div>
    </div>
    <!-- Icon Box End -->
    <!-- Icon Box Start -->
    <div class="one-third column">
      <div class="feature">
        <div style="display: inline-block; float:left;"><img src="/assets/mktimages/handshake.png" alt="" />
        </div>
        <div class="feature-description" style="padding-left: 15px;">
          <h4>Relationships Matter</h4>
          <p>
            No setup fees, no contracts, your data is always yours. We cannot comprehend a model where customers are locked in to something they dont want. Nor to we believe that you should make a large upfront investment. Relationships matter to us, and we want to help your agency succeed for the long-run with bindlink.
          </p>
        </div>
      </div>
    </div>
    <!-- Icon Box End -->
    <!--Info Box Start -->
    <!-- <div class="sixteen columns">
                         <div class="info-box">
                             <div class="info-content">
                                 <h3>We're ready to work with you to help your agency run better.</h3>

                             </div>
                             <a href="#" class="button medium yellow" style="float: right;">Learn more</a>
                             <div class="clearfix"></div>
                         </div>
                     </div>-->

  </div>

  <!-- Feature row 1 End -->


</div>
<!-- 960 Container End -->