<h1>New Agency</h1>

<%= render 'form' %> 


<div id='dialog' title='Welcome'>  
<!--<%= render :partial => 'form'%> -->
Welcome to the agency adding screen. 

</div> 


<%= link_to 'Back', '/welcome' %>
