
<div class="wellwhiteblock">
  <div class="wellwhitemenu"><h3>Acord Forms</h3> |  <%= link_to "Add New", showacordmenu_path(:client_id=> @clientforview, :formmakertype=>'client') ,:remote => true, :style=>"text-decoration: underline", :id=>"newacordbtn" %></div>


</div>



