
<% content_for :head do %>  <%= javascript_include_tag "newsubmission" %><% end %>

<div class="col1wrap">
  <div class="col1 wellwhite" style="float: left; min-width: 700px;">
    <div class="wellwhitemenu"><span class="headtext">Create a New Submission</span> </div>

      <%= render 'form' %>

  </div>
</div>

