<div class="alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
   Images tranferred to Client: <%=link_to @client.fullname, client_path(@client), :class=>'linktext'%>
</div>