<div class="alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
   Images tranferred to Policy: <%=link_to @policy.policy_number, policy_path(@policy), :class=>'linktext'%>
</div>