<div class="wellwhitemenu">

  <h3>Add a new NAIC number</h3> <button type="button" class="close" data_dismiss="modal" aria_hidden="true" id ="closeit">×</button>
</div>

<%= form_for [@carrier,@naicnumber], :html=>{:class =>"form-horizontal"} , :remote =>true do |f| %>

<%= render('formfields', :f => f) %>



<% end %>


