<%= form_for @pfc  ,:remote => true do |f| %>
 <%= render :partial => 'formdetails', :locals=>{:f => f}%>
<div class="form-actions"><%= f.submit 'Edit', :class=>'btn btn-primary' %> <%= f.submit 'Cancel', :class=>'btn btn-inverse' %> </div>

<% end %>