<div class="row-fluid">
  <div class="span6">
            <table class="table  table-bordered ">
           <tr>
          <th>Accounting Tasks</th>
        </tr>

         <tr>
          <td ><a class="btn btn-primary btn-large" style="color: #ffffff;" href="">Forward Cash to Carrier or GA</a></td>
        </tr>

      </table>

  </div>
  <div class="span6" >





  </div>
</div>