          <%= javascript_include_tag "clientsdashboard" %>
           <div class="col1wrap">
            <div class="col1 wellwhite" >
                <div class="page-header"><h2> Accounting
              Dashboard</h2></div>


              <div id="tabs">
                  <ul>
                      <li><a href="#tabs-1">Dashboard</a></li>
                      <li><a href="#tabs-2">Search</a></li>
                      <li><a href="#tabs-3">View All</a></li>
                  </ul>
                  <div id="tabs-1">
                       <%= render 'accountingdashboard' %>
                  </div>
                  <div id="tabs-2">
                        </div>
                  <div id="tabs-3">

                        <h3></h3>


                  </div>
              </div>



               </div>

           </div>

