<br/>
<h3>Click on the policy below that you want to enter statement cash for:</h3>
<table class="table table-striped table-bordered table-condensed" >
  <thead>
  <tr>

    <td>Policy Number</td>
    <td>Policy Status</td>

  </tr>


  </thead>


  <tbody>
  <% @search.each do |result| %>



              <tr>
                <td> <%= link_to result.policy_number, selectedpolicyentry_path(result.id),:class => "linktext", :remote=>true%>

                </td>

                <td>
                  <%= result.status%>
                </td>

              </tr>


  <% end %>
  </tbody>
</table>