<div class="col1wrap">
  <div class="col1 wellwhite">
    <div class="page-header"><h1>Search Test 1</h1></div>


        <form action="/searches/findpolicy" method="get">

          <input id="carrierid" type="text">
          <input id="policynum" type="text">


          <input class="btn-success" name="searc" type="submit" value="search">

        </form>



  </div>
</div>