.acordForm{
    width: 1020px;
    height: 1322px;
    background-position: left top;
    background-repeat: no-repeat;
    position: relative;
}


.acordFields input{
    background-color: #dde4ff;
    position:absolute;
    border: none;
}


