<div class="col1wrap">
  <div class="col1 wellwhite">
    <div class="wellwhitemenu"><span class="headtext">Carrier Download Transactions

    </span>
    </div>
    <%= render ('transactionlist')%>
  </div>
</div>