<div class="col1wrap">
  <div class="col1 wellwhite">
    <div class="wellwhitemenu"><span class="headtext">Settings: Locations
    <li class="dropdown" style="display: inline;">
      <a  data-toggle="dropdown" href="#menu" class="dropdownmenubox">
        <%= image_tag("list 2.png", :height=>"15px", :width=>"15px") %> Menu
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" >
        <li>
          <%= link_to  new_location_path do %> Create New <%end%>
        </li>
      </ul>
    </li>
    </span>
    </div>
    <%= render ('locationslist')%>
  </div>
</div>
