
<tr>
  <td ><b >Fee Name</b></td>
  <td><%= f.text_field :lobfee_id , :class =>'BLselect required', :autocomplete => :off  %></td>
</tr>
 <tr >
  <td>Fee Amount</td>
  <td><%= f.text_field :fee_amount, :class =>'BLselect' %></td>
</tr>
<tr>
  <td ><b >Fee Name</b></td>
  <td><%= f.text_field :lobfee_id , :class =>'BLselect required', :autocomplete => :off  %></td>
</tr>
 <tr >
  <td>Fee Amount</td>
  <td><%= f.text_field :fee_amount, :class =>'BLselect' %></td>
</tr>
