
             <tr>
               <td ><b >Total Billed</b></td>
               <td><%= f.text_field :total_billed, :class =>'BLselect required span2', :autocomplete => :off  %></td>
             </tr>
              <tr >
               <td>Description</td>
               <td><%= f.text_field :description, :class =>'BLselect span2' %></td>
             </tr>
             <tr>
             <td>Due date</td>
               <td><%= f.text_field :due_on, :class =>'BLselect span2' %></td>
             </tr>


