
<div class="col1wrap">
  <div class="col1 wellwhite" style="float: left; min-width: 700px">
    <div class="wellwhitemenu">Creating a new policy for: <%= @client.fullname %></div>

   <div id="newpolicy"><%= render :partial => 'form' %></div>
    <div id="invoiceselectionnew"></div>

  </div>
</div>